{% extends "auth_layout.html" %}

{% block title %}Simple Stock - Войти{% endblock %}

{% block content %}
 <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">SimpleStock</h3>
			 	</div>
			  	<div class="panel-body">
            {% from '_formhelpers.html' import render_field %}
            <form action="{{ url_for('auth.signin') }}" method="POST" role="form">
                {{ form.hidden_tag() }}
                {{ render_field(form.email, class='form-control') }}
                {{ render_field(form.password, class='form-control') }}

                <button type="submit" class="btn btn-success">Войти</button>
            </form>

			    </div>
			</div>
		</div>
	</div>
{% endblock %}