<div class="modal fade modal-warning" id="modal_add">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Создать нового пользователя</h4>
            </div>
            <div class="modal-body">
            <form action="{{ url_for('admin.signup') }}" method="POST" role="form" data-toggle="validator" autocomplete="off" >
                 <fieldset>
                        <div class="form-group col-md-6">
                            <label for="first_name">Имя</label>
                            <input type="text" class="form-control" name="" id="uname" placeholder="Имя">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="last_name">Фамилия</label>
                            <input type="text" class="form-control" name="lname" id="" placeholder="Фамилия">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Email</label>
                            <input type="text" style="display:none;">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-error="Email написан не правильно" required>
                            <div class="help-block with-errors check_email"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">Пароль</label>
                            <input type="text" style="display:none;">
                            <input type="password" class="form-control" name="password" autocomplete="off" id="password" placeholder="Пароль">
                        </div>
                    </fieldset>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-default pull-left"
                    data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-flat btn-success" id="button_delete_confirm">Зарегистрировать</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript"> 

    $(document.body).on('click', '.button_add', function() {
        var modal = $("#modal_add");
        modal.modal('show');
    });
    $("#email").focusout(function () {
        if ($("#email").val() != "" && $('.check_email').text().length == 0 ) {
            $.ajax({
                    type: "POST",
                    url: "/admin/check_email",
                    data: JSON.stringify({"email": $("#email").val()}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        $('.check_email').html(msg['msg']);
                        $('.check_email').parent().addClass("has-error has-danger");
                    },     
            });
            }
            }); 



 
</script>